.button_addD4,
.d4 {
  background: url('img/d4.png') center/cover;
}

.button_addD6,
.d6 {
  background: url('img/d6.png') center/cover;
}

.button_addD8,
.d8 {
  background: url('img/d8.png') center/cover;
}

.button_addD10,
.d10 {
  background: url('img/d10.png') center/cover;
}

.button_addD100,
.d100 {
  background: url('img/d10.png') center/cover;
}

.button_addD12,
.d12 {
  background: url('img/d12.png') center/cover;
}

.button_addD20,
.d20 {
  background: url('img/d20.png') center/cover;
}