body {
  margin: 0; /* Remove default margin on body */
  overflow: none; /* Enable scrolling if needed */

}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh; /* Adjust height as needed */
  user-select: none;
}

.bagContainer, .previousDiceContainer {
  display: flex;
  height:60px; /* Fixed height for bagContainer */
  width: 100%;
  flex-direction: row;

}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: 200px; /* Calculate height for buttonContainer */
  width: 100%;
}

.diceContainer {
  display: flex;
  height: 100%; /* Adjust height as needed */
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  gap: 0px 10px;
}

.optionButtonsContainer {
  display: flex;
  width: 30%; /* Adjust width for optionButtonsContainer */
  gap: 10px; /* Add gap between flex items */
  padding: 10px;
}

.diceButtonsContainer {
  display: flex;
  width: 70%; /* Adjust width for diceButtonsContainer */
  padding: 10px;
  justify-content:flex-start;
}

.Die,
.DieInBag {
  position: relative;
  background: url('img/d8.png') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 5px; /* Adjust margin as needed */
  cursor: pointer;
}

.DieInBag, .mini {
  height: 50px;
  width: 50px;
}



.button_roll,
.button_emptyField {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px; /* Add padding */
}


.button_emptyBag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0;
  margin-left: auto;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  padding: 10px; /* Add padding */
  cursor: pointer;

}



.button_addD4,
.button_addD6,
.button_addD8,
.button_addD10,
.button_addD100,
.button_addD12,
.button_addD20 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 5px;
}

.button_roll h2,
.button_emptyField h2 {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 0;
}
.mini h1 {
  font-size: 1em;
}


@media (max-width: 768px) {
  .diceButtonsContainer {
    flex-wrap: wrap;
  }
  .optionButtonsContainer {
    flex-direction: column;
    align-items: center;
  }
}